#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.my-button {
  color: black;
  background-color: transparent !important;
  border: none;
}

.icon-color {
  color: #7e2fb3;
  font-weight: bold;
}

.icon-color-2 {
  color: #f4845f;
  font-weight: bold;
}

.button-1 {
  color: #f4845f;
  background-color: transparent !important;
  border: 1px solid #f4845f;
}

.button-1:hover {
  color: white;
  background-color: #f4845f !important;
  border: 1px solid #f4845f;
  transition: background-color 0.3s ease;
}

.button-2 {
  color: white;
  background-color: #f4845f;
}

.button-2:hover {
  color: #f4845f;
  background-color: white;
  border: 1px solid #f4845f;
  transition: background-color 0.3s ease;
}

.card-bg {
  background-color: #fff8f7;
}

.nav-links {
  color: #888888;
}

.nav-links:hover {
  color: #f4845f;
  transition: color 0.3s ease;
}